<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-curlrequest" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>curlrequest</name><js-module name="curlrequest" src="www/curlrequest.js"><clobbers target="cordova.plugins.curlrequest" /></js-module><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="curlrequest"><param name="ios-package" value="curlrequest" /></feature></config-file><source-file src="src/ios/curlrequest.m" /></platform><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="curlrequest"><param name="android-package" value="cordova-plugin-curlrequest.curlrequest" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/curlrequest.java" target-dir="src/cordova-plugin-curlrequest/curlrequest" /></platform></plugin>